[submodule "VideoGPA"]
	path = VideoGPA
	url = https://github.com/Hongyang-Du/VideoGPA.git
	ignore = dirty

[submodule "Epipolar-DPO"]
	path = Epipolar-DPO
	url = https://github.com/KupynOrest/epipolar-dpo.git
	ignore = dirty

[submodule "third_party/Wan2.2"]
	path = third_party/Wan2.2
	url = https://github.com/Wan-Video/Wan2.2.git
	ignore = dirty
